<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8" />
    <meta name="description"
          content="Cameras da CET-RIO (CET-RJ) em tempo real. Condições do trânsito ao vivo gratuitamente." />
    <meta name="keywords" content="cameras,cet-rio,cetrj,cet rj,cet rio,ao vivo,cameras cet rio ao vivo,trânsito,linha vermelha,avenida brasil,linha amarela" />
    <meta name="google-site-verification" content="GPn-fQ7G3lPrvSTDtUtrRpkhz_O4S68K7Bmjm_FgxMA" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="fb:admins" content="506596308" />
    <link rel="canonical" href="http://www.camerasrj.com.br/" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
    window.appendScript = function (src) {
      var node = document.createElement('script');
      node.type = 'text/javascript';
      node.async = true;
      node.src = src;
      document.head.appendChild(node);
    }
    </script>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        body { padding-top: 60px; padding-bottom: 115px; }
    </style>
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" />

    <%- include inc/fb-headers.html -%>

    <title><%= title %></title>
  </head>

  <body>
    <%- include inc/fb-js.html -%>

    <%- include inc/header.html -%>
    <%- body -%>
    <%- include inc/footer.html -%>

    <%- include inc/analytics.html -%>
    <%- include inc/clicky.html -%>
    <%// include inc/mixpanel.html -%>
    <%- include inc/kissmetrics.html -%>
    <%- include inc/flattr.html -%>
    <%- include inc/js.html -%>
    <script type="text/javascript">
      window.google_analytics_uacct = "UA-10270235-3";
    </script>
    <a style="display:none" href="https://plus.google.com/117458514287027144391?rel=author">Google</a>
  </body>

</html>
