%ul.accordion-tabs
  - data.cameras.areas.each do |area|
    %li.tab-header-and-content
      %a.tab-link(href="#" id="#{area.first.underscore.dasherize}"
        onclick="ga('send', 'event', 'Zona', '#{area.first}')")= area.first
  - data.live.each do |area|
    %li.tab-header-and-content
      %a.tab-link(href="#" id="#{area.first.underscore.dasherize}"
        onclick="ga('send', 'event', 'Zona', '#{area.first}')")= area.first

%div
  - CAM_PREFIX = 'http://static.camerasrj.com.br/cam/'
  - data.cameras.areas.each do |area|
    %ul.zonas(id="#{area.first.underscore.dasherize}" style="display:none")
      - area.last.each do |cam|
        %li(style="background-image:url('#{CAM_PREFIX + cam['id'].to_s}.gif')")
          %p.caption= cam['caption']
          .img(style="background: url('#{CAM_PREFIX + cam['id'].to_s}.jpg')")

  - AOVIVO = data.live.first
  %ul.zonas(id="#{AOVIVO.first.underscore.dasherize}" style="display:none")
    - LIVE_PREFIX = 'http://radar_g1-f.akamaihd.net/radarg1_rj_riodejaneiro'
    - AOVIVO.last.each do |cam|
      %li
        %p.caption= cam['caption']
        %embed(src="http://radar.g1.globo.com/FinxiPlayer.swf"
        flashvars="urlMedia='#{LIVE_PREFIX + cam['url']}'"
        width="476" height="238" quality="high" align="middle"
        type="application/x-shockwave-flash"
        pluginspage="http://www.adobe.com/go/getflashplayer")

-#
