= partial 'fb-js'
= partial 'header'

= partial 'body'

= partial 'footer'
= partial 'analytics'
= partial 'js'

%a(style="display:none" href="https://plus.google.com/117458514287027144391?rel=author")
  Google

