= partial 'fb-js'
= partial 'header'

= partial 'body'

= partial 'footer'
= partial 'analytics'
= partial 'js'

:javascript
  window.google_analytics_uacct = "UA-10270235-3";
  (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7232537493483974",
        enable_page_level_ads: true
  });

%a(style="display:none" href="https://plus.google.com/117458514287027144391?rel=author")
  Google

